*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
    text-decoration: none;
    transition: 0.3s;
}

header {
    display: flex;
    
    align-items: center;
    padding: 10px 20px;
    background-color: #f8f8f8;
}

.logo h1 {
    margin: 0;
    margin-right: 230px;
}

.search-bar input {
    width: 400px;
    padding: 5px;
}

.search-bar button {
    padding: 5px 10px;
    margin-right: 230px;
    
}

nav a {
   
    margin: 0 10px;
    
    text-decoration: none;
    color: #000;
}
nav a:hover{
    background-color: #ea0c14;
    border-radius: 5px;
  }
.login-panel button {
    padding: 5px 10px;
}

/* start hero */ 

.hero{
    margin-bottom: 0;
    width: 100%;
    height: calc(100vh - 100px);
    background: url(img/bg-home.jpg);
    background-size: cover;
    background-position: right;
}
.hero .contnaier{
    position: relative;
    height: 100%;
}
.hero .content{
    position: absolute;
    top: 50%;
    left: 100px;
    transform: translateY(-50%);
}
.hero .content p{
    color: #606060;
    font-size: 24px;
    margin-bottom: 10px;
    text-transform: capitalize;
}
.hero .content h1{
    color: #111;
    font-size: 80px;
    text-transform: capitalize;
    margin: 20px 0;
}
.hero .content h1 span{
    color: #ee2761;
}
.hero .content p.last-p{
  
    margin-bottom: 50px;
}
.hero .content .btn{
    font-size: 20px;
}



/* start hero */ 

.categories {
    
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: #e0e0e0;
}


.category {
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    text-align: center;
}
.category:hover{
    background-color: #ea0c14;
    border-radius: 5px;
  }

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.product {
    width: 200px;
    margin: 10px;
    text-align: center;
    border: 1px solid #ccc;
    padding: 10px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 400px;
    height: 400px;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


.top-sec{
    text-align: center;
    padding: 0 0 100px;
}
.top-sec h3{
    font-size: 40px;
    padding-bottom: 20px;
    color: #111;
    position: relative;
}
.top-sec h3::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 4px;
    background-color: #ee2761;
    border-radius: 5px;
}


.grid {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    margin-top: 15px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}
.grid-item img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.grid-item:hover {
    color: #aaa;
    transform: scale(1.05);
}




.product {
    width: 100%;
    gap: 10px;
    justify-content: center;
    height: auto;
    display: flex;
    padding: 10px;
    background-color: #e0e0e0;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    
}




.product-card {
    width: 270px;
    
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(255, 255, 255, 0.1);
    overflow: hidden;
    
}

.product-image {
    position: relative;
}

.product-image img {
    width: 100%;
    height: auto;
}

.badge {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: orange;
    color: white;
    padding: 5px;
    border-radius: 5px;
    font-size: 12px;
    height: 270;
}

.product-info {
    padding: 15px;
}

.product-info h2 {
    font-size: 18px;
    margin: 0;
    margin-bottom: 10px;
}

.rating {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.current-price {
    color: #e60000;
    font-size: 18px;
    font-weight: bold;
}

.original-price {
    text-decoration: line-through;
    color: #888;
    font-size: 14px;
}

.discount {
    color: green;
    font-size: 14px;
}

.buy-now {
    width: 100%;
    padding: 10px;
    background-color: #008CBA;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.buy-now:hover {
    background-color: #e5065b;
}



/* start newsletter */

.newsletter{
    background-color: #dadada;
   
}
.newsletter .contnaier{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.newsletter .text h4{
    padding-top: 30px;
    color: #ee2761;
    font-size: 40px;
    font-weight: 700;
    text-transform: capitalize;
    margin-left: 60px;
}
.newsletter .text p{
    padding-bottom: 30px;
    margin-left: 60px;
    font-size: 20px;
    color: #111;
}
.subscribe-form{

}
.newsletter .subscribe-form{
    width: 600px;
    position: relative;
   border-radius: 30px;
    overflow: hidden;
    margin-right: 100px;
    
}
.newsletter .subscribe-form input{
    width: 100%;
    border: none;
    outline: none;
    padding: 18px 20% 18px 30px;
    border-radius: 30px;
    border: 2px solid #6060607c;
    
    
}
.newsletter .subscribe-form .btn-srch{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 150px;
    border: none;
    background-color: #ee2761;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    
}

/* start footer */ 

footer .contnaier{
    padding: 50px 0 20px;
    display: flex;
    justify-content: space-between;

}
footer .big-rows{
    width: 33%;
    padding-right: 50px;
    margin-left: 150px;
}
footer .big-rows .logo{
    font-size: 30px;
    font-weight: bold;
    color: #111;
    margin-bottom: 25px;
    text-transform: uppercase;
   
    
}
footer .big-rows .logo span{
    color: #ee2761;
    
}

footer .big-rows p{
    color: #606060;
    line-height: 1.5;
    margin-bottom: 20px;
    
   
}
footer .big-rows .coical-icon i{
    width: 40px;
    height: 40px;
    background-color: #ee2761;
    color: #fff;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
   
    border: 1px solid #ee2761;
    margin-left: 30px;
}
footer .big-rows .coical-icon i:hover{
    background-color: transparent;
    color: #ee2761;
}
footer .contnaier .row{
    width: 20%;
}
footer .contnaier .row .tittle{
    color: #111;
    margin-bottom: 25px;
}
footer .contnaier .row .links{
    display: flex;
    flex-direction: column;
}
footer .contnaier .row .links a{
    color: #606060;
    padding: 8px 0;
}
footer .contnaier .row .links a:hover{
    color: #ee2761;
}

footer .bottom-footer{
    border-top: 1px solid #94949450;
}
footer .bottom-footer .content{
    padding: 20px 0;
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer .bottom-footer .content p{
    color: #111;
    font-size: 18px;
}
footer .bottom-footer .content p span{
    color: #ee2761;
    font-weight: bold;
}